.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    transition: opacity var(--animation), visibility var(--animation);
    z-index: 100;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // height: 581px;
    width: 320px;
    background-color: var(--back-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    padding: 30px;

    @include mq (tablet) {
        width: 450px;
        padding: 40px;
    }

    @include mq (desktop) {
        width: 528px;
        height: 581px;
    }
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: fill var(--animation);

    &:hover,
    &:focus {
    fill: var(--active-color);
}}

.modal-icon {
    width: 11px;
    height: 11px;
}