.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-flex {
    align-items: baseline;
    display: flex;
}

.footer-div {
    flex-grow: 1;
}

.footer-link {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--active-color);
}

.footer-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--back-color);
}

.footer-adress {
    font-style: normal;
    margin-top: 20px;
}

.footer-list {
    display: flex;
    flex-direction: column;
}

.footer-item {
    margin-bottom: 9px;
    
    &:last-child {
    margin-bottom: 0px;
}}

.footer-link-map {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--back-color);
}

.footer-mail,
.footer-tel {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}