.footer-social {
    margin-left: 70px;
}

.connect-title {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--back-color);
    display: block;
    margin-bottom: 20px;
}

.connect-list {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.connect-item {
    margin-right: 10px;

    &:last-child {
    margin-right: 0px;
}}

.connect-link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--back-color);
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color var(--animation);

    &:hover,
    &:focus {
    background-color: var(--active-color);
}}